.card {
  border-radius: 12px;
  border: 1px solid var(--cards-border);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--cards-bg);
  color: var(--cards-text);
  width: 280px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition:
    max-height 0.8s ease-in-out,
    background-color 0.4s ease,
    color 0.4s ease,
    transform 0.4s ease;
  max-height: 300px;
}

.card:hover {
  background: var(--hover-bg);
  color: var(--hover-text);
  box-shadow: 0 8px 16px var(--shadow-color);
  transform: translateY(-5px);
}

.card.expanded {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 12px 24px var(--shadow-color);
  border-color: var(--accent-color);
  max-height: 500px;
  height: 480px;
}

.card-preview {
  text-align: center;
  transition: opacity 0.3s ease;
  font-family: var(--font-heading);
}

.text-preview {
  height: 105px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-card .card-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.image-container {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.project-image[style*='display: block'] {
  opacity: 1;
}

.project-image.visible {
  opacity: 1;
}

.card-details {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition:
    opacity 0.6s ease,
    max-height 0.8s ease-in-out,
    padding 0.6s ease;
  font-family: var(--font-body)
}

.card.expanded .card-details {
  opacity: 1;
  max-height: 1000px;
  padding: 0.5rem 1rem 1rem 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) var(--cards-bg);
}

.tech-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 1rem;
}
